@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Naskh+Arabic:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
    background-color: rgb(207, 211, 216);
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    background-color: white;
    max-width: 650px;
    margin: auto;
    min-height: 100vh;
}